.QOverlay {
	background-color: #000000;
	z-index: 9999;
}

.QLoader1{
	display:block;
	background-color:#e0cc22;
	position: absolute;
	left: 0;
	height:10px;
	bottom: 0px;
	width: 0px;
}


.QLoader2{
	display:block;
	background-color:#e0cc22;
	position: absolute;
	left: 0;
	height:px;
	top: 0px;
	width: 10px;
}

.QAmt {
	color:#ffffff;
	font-family:"MomsReg" Arial, Helvetica, sans-serif;
	font-size:14px;
	width:80px;
	height:94px;
	text-align:center;

	left:50%;
	margin-left:-175px;
	top:50%;
	margin-top:-7px;
	z-index:10000;
	
	display:none;
}