body, html {
	height: 100%;
	margin: 0;
}
.bg {
	/* The image used */
	background-image: url("malelaptop.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	width: 250px;
	word-wrap: break-word;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Verdana;
	font-size: 14;
	color: black;
}
