.img-audio {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 25px;
	z-index:1;
}

.img-text {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index:2;
}

.img-like {
	cursor:pointer;
	position: absolute;
	left: 690px;
	top: 225px;
	z-index:3;
}

.img-bug {
	cursor:pointer;
	position: absolute;
	left: 680px;
	top: 420px;
	z-index:4;
}

.img-window {
	cursor:pointer;
	position: absolute;
	left: 650px;
	top: 25px;
	z-index:5;
}


