
.img-sphere {
	cursor:pointer;
	position: absolute;
	left: 50px;
	top: 50px;
	z-index:0
}

.img-line {
	cursor:pointer;
	position: absolute;
	left: 60px;
	top: 60px;
	z-index:1;
}

.img-triangle { 
	cursor:pointer;
	position: absolute;
	left: 70px;
	top: 70px;
	z-index:2
}
