.img-audio {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 100px;
	z-index:0
}

.img-line {
	cursor:pointer;
	position: absolute;
	left: 500px;
	top: 500px;
	z-index:1;
}

.img-text {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 300px;
	z-index:2
}

.img-like {
	cursor:pointer;
	position: absolute;
	left: 100px;
	top: 500px;
	z-index:3;
}
